node_modules
dist
.next
.turbo
.pnpm-store
.env
.env.local
*.db
*.db-journal
*.tsbuildinfo
coverage
apps/web/test-results
apps/web/public/uploads/*
!apps/web/public/uploads/.gitkeep
apps/web/public/addin/**
!apps/web/public/addin/.gitkeep
